@media screen and (min-width: 1024px) {
  .container {
    max-width: 440px; } }

@media (max-width: 400px) {
  h1 {
    font-size: 20px !important;
    margin-left: 0px !important; }
  .icon {
    background-size: 50px !important;
    width: 20% !important; }
  span.notifications {
    left: 60px !important; }
  .btn-group {
    width: 80% !important; }
  p.name-employer {
    font-size: 20px !important; }
  p.name-job {
    font-size: 16px !important; } }

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  display: table;
  margin: 0 auto; }

.container {
  border: 1px solid grey;
  position: relative; }

.content {
  padding: 20px; }

.center {
  text-align: center; }

.strong {
  font-weight: bold; }

.orange {
  background-color: #fa6d1b; }

.light-orange {
  color: #ffe8cb; }

.grey {
  color: #a0a1a3; }

.white {
  color: white; }

.clear {
  clear: left; }

.left {
  float: left; }

.right {
  float: right; }

.header {
  padding: 10px 0; }

.subheader {
  padding: 10px 20px 5px 20px;
  background-color: #f3f3f3;
  border-bottom: 1px solid #c7c7c7;
  opacity: 0.5;
  filter: alpha(opacity=50);
  /* lte IE8  */ }

h1 {
  margin-left: 20px;
  font-size: 24px; }

h2 {
  margin-bottom: 0px; }

.header p {
  margin: 0px; }

.back-nav {
  background-image: url("../icons-retina/previous.png");
  background-repeat: no-repeat;
  background-size: 15px;
  width: 56px;
  height: 56px;
  position: absolute;
  top: 40px;
  left: 20px;
  cursor: pointer; }

ul#container-elements {
  -webkit-padding-start: 0px !important; }

.wrap-connections {
  border-top: 1px solid #c5c5c5;
  padding: 20px 0;
  width: 100%;
  list-style-type: none; }

.wrap-connections:last-child {
  border-bottom: 1px solid #c5c5c5;
  margin-bottom: 20px; }

#icon-plumbers-rescue {
  background-image: url("../images/plumbers_rescue.gif");
  background-repeat: no-repeat;
  background-size: 70px;
  width: 100px;
  height: 70px; }

#icon-grey-gums {
  background-image: url("../images/grey_gums.gif");
  background-repeat: no-repeat;
  background-size: 70px;
  width: 100px;
  height: 70px; }

#icon-eg-graham {
  background-image: url("../images/eg_graham_plumbers.gif");
  background-repeat: no-repeat;
  background-size: 70px;
  width: 100px;
  height: 70px; }

span.notifications {
  background-color: #fe372e;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  padding: 5px;
  position: absolute;
  text-align: center;
  line-height: 15px;
  left: 75px;
  margin-top: -5px; }

a {
  padding: 20px;
  text-decoration: none;
  color: white; }

a:before {
  content: "";
  background-image: url("../icons-retina/headphones.png");
  background-repeat: no-repeat;
  background-size: 95%;
  position: absolute;
  width: 32px;
  height: 32px;
  margin-top: -7px; }

a > span {
  padding-left: 40px; }

.btn-group {
  position: relative;
  display: inline-block;
  width: 100%; }
  .btn-group .btn {
    position: relative;
    float: left; }
  .btn-group .btn:first-child {
    border-radius: 5px 0px 0px 5px;
    -moz-border-radius: 5px 0px 0px 5px;
    -webkit-border-radius: 5px 0px 0px 5px; }
  .btn-group .btn:last-child {
    border-radius: 0px 5px 5px 0px;
    -moz-border-radius: 0px 5px 5px 0px;
    -webkit-border-radius: 0px 5px 5px 0px;
    border-left: 0px; }

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc; }

.btn {
  display: inline-block;
  padding: 10px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border: 2px solid #fa6d1b;
  border-radius: 4px;
  color: #fa6d1b;
  width: 50%; }

.btn-active {
  background-color: #fa6d1b;
  color: white; }

.width100 {
  width: 100%; }

.margin20 {
  margin: 20px 0; }

p.name-employer {
  color: #fa6d1b;
  font-size: 24px;
  margin: 0px; }

p.name-job {
  margin: 0 0 5px 0;
  font-size: 21px; }

small.recommend {
  font-size: 15px; }

small.recommend:before {
  content: "";
  background-image: url("../icons-retina/checkbox.png");
  float: left;
  background-repeat: no-repeat;
  background-size: 13px;
  width: 20px;
  height: 20px;
  margin-top: 3px; }

.icon-next {
  background-image: url("../icons-retina/next.png");
  background-repeat: no-repeat;
  background-size: 70%;
  margin-top: 25px;
  width: 20px;
  height: 40px;
  cursor: pointer; }

#btn-support {
  width: 85%;
  display: inline-block; }

footer {
  background-color: #3d3d3d;
  color: #646464;
  padding: 5px 0;
  width: 100%; }
  footer div {
    width: 25%; }
  footer div:hover {
    cursor: pointer; }
  footer span {
    position: absolute;
    bottom: 0px;
    font-size: 13px;
    margin: 0 auto;
    left: 0;
    right: 0; }
  footer #quotes, footer #clipboard, footer #search, footer #list {
    width: 25%;
    height: 55px;
    position: relative; }
  footer #quotes:before, footer #clipboard:before, footer #search:before, footer #list:before {
    position: absolute;
    content: "";
    background-repeat: no-repeat;
    background-size: 35px;
    width: 40px;
    height: 56px;
    margin: 0 auto;
    left: 0;
    right: 0; }
  footer #quotes:before {
    background-image: url("../icons-retina/document-add.png"); }
  footer #clipboard:before {
    background-image: url("../icons-retina/clipboard.png");
    left: 20px; }
  footer #clipboard.active:before {
    background-image: url("../icons-retina/clipboard-selected.png");
    left: 20px; }
  footer #search:before {
    background-image: url("../icons-retina/search.png");
    left: 20px; }
  footer #list:before {
    background-image: url("../icons-retina/list.png");
    left: 10px; }
